name: Push image to Docker Hub

on: 
  push:
    branches: [ "main" ]

jobs: 
  push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Login en Docker Hub
        uses: docker/login-action@v3
        